.border-1 { border-width: 1px solid; }
.border-2 { border-width: 2px solid; }
.border-3 { border-width: 3px solid; }
.border-4 { border-width: 4px solid; }
.border-5 { border-width: 5px solid; }
.border-6 { border-width: 6px solid; }
.border-7 { border-width: 7px solid; }
.border-8 { border-width: 8px solid; }
.border-9 { border-width: 9px solid; }
.border-10 { border-width: 10px solid; }