.text-neutral50 { color: var(--neutral50); }
.text-neutral100 { color: var(--neutral100); }
.text-neutral200 { color: var(--neutral200); }
.text-neutral300 { color: var(--neutral300); }
.text-neutral400 { color: var(--neutral400); }
.text-neutral500 { color: var(--neutral500); }
.text-neutral600 { color: var(--neutral600); }
.text-neutral700 { color: var(--neutral700); }
.text-neutral800 { color: var(--neutral800); }
.text-neutral900 { color: var(--neutral900); }
.text-neutral900 { color: var(--neutral900); }

.text-primary50 { color: var(--primary50); }
.text-primary100 { color: var(--primary100); }
.text-primary200 { color: var(--primary200); }
.text-primary300 { color: var(--primary300); }
.text-primary400 { color: var(--primary400); }
.text-primary500 { color: var(--primary500); }
.text-primary600 { color: var(--primary600); }
.text-primary700 { color: var(--primary700); }
.text-primary800 { color: var(--primary800); }
.text-primary900 { color: var(--primary900); }
.text-primary950 { color: var(--primary950); }

.text-warning50 { color: var(--warning50); }
.text-warning100 { color: var(--warning100); }
.text-warning200 { color: var(--warning200); }
.text-warning300 { color: var(--warning300); }
.text-warning400 { color: var(--warning400); }
.text-warning500 { color: var(--warning500); }
.text-warning600 { color: var(--warning600); }
.text-warning700 { color: var(--warning700); }
.text-warning800 { color: var(--warning800); }
.text-warning900 { color: var(--warning900); }
.text-warning950 { color: var(--warning950); }

.text-success50 { color: var(--success50); }
.text-success100 { color: var(--success100); }
.text-success200 { color: var(--success200); }
.text-success300 { color: var(--success300); }
.text-success400 { color: var(--success400); }
.text-success500 { color: var(--success500); }
.text-success600 { color: var(--success600); }
.text-success700 { color: var(--success700); }
.text-success800 { color: var(--success800); }
.text-success900 { color: var(--success900); }
.text-success950 { color: var(--success950); }

.text-danger50 { color: var(--danger50); }
.text-danger100 { color: var(--danger100); }
.text-danger200 { color: var(--danger200); }
.text-danger300 { color: var(--danger300); }
.text-danger400 { color: var(--danger400); }
.text-danger500 { color: var(--danger500); }
.text-danger600 { color: var(--danger600); }
.text-danger700 { color: var(--danger700); }
.text-danger800 { color: var(--danger800); }
.text-danger900 { color: var(--danger900); }
.text-danger950 { color: var(--danger950); }

.border-neutral50 { border-color: var(--neutral50); }
.border-neutral100 { border-color: var(--neutral100); }
.border-neutral200 { border-color: var(--neutral200); }
.border-neutral300 { border-color: var(--neutral300); }
.border-neutral400 { border-color: var(--neutral400); }
.border-neutral500 { border-color: var(--neutral500); }
.border-neutral600 { border-color: var(--neutral600); }
.border-neutral700 { border-color: var(--neutral700); }
.border-neutral800 { border-color: var(--neutral800); }
.border-neutral900 { border-color: var(--neutral900); }
.border-neutral900 { border-color: var(--neutral900); }

.border-primary50 { border-color: var(--primary50); }
.border-primary100 { border-color: var(--primary100); }
.border-primary200 { border-color: var(--primary200); }
.border-primary300 { border-color: var(--primary300); }
.border-primary400 { border-color: var(--primary400); }
.border-primary500 { border-color: var(--primary500); }
.border-primary600 { border-color: var(--primary600); }
.border-primary700 { border-color: var(--primary700); }
.border-primary800 { border-color: var(--primary800); }
.border-primary900 { border-color: var(--primary900); }
.border-primary950 { border-color: var(--primary950); }

.border-warning50 { border-color: var(--warning50); }
.border-warning100 { border-color: var(--warning100); }
.border-warning200 { border-color: var(--warning200); }
.border-warning300 { border-color: var(--warning300); }
.border-warning400 { border-color: var(--warning400); }
.border-warning500 { border-color: var(--warning500); }
.border-warning600 { border-color: var(--warning600); }
.border-warning700 { border-color: var(--warning700); }
.border-warning800 { border-color: var(--warning800); }
.border-warning900 { border-color: var(--warning900); }
.border-warning950 { border-color: var(--warning950); }

.border-success50 { border-color: var(--success50); }
.border-success100 { border-color: var(--success100); }
.border-success200 { border-color: var(--success200); }
.border-success300 { border-color: var(--success300); }
.border-success400 { border-color: var(--success400); }
.border-success500 { border-color: var(--success500); }
.border-success600 { border-color: var(--success600); }
.border-success700 { border-color: var(--success700); }
.border-success800 { border-color: var(--success800); }
.border-success900 { border-color: var(--success900); }
.border-success950 { border-color: var(--success950); }

.border-danger50 { border-color: var(--danger50); }
.border-danger100 { border-color: var(--danger100); }
.border-danger200 { border-color: var(--danger200); }
.border-danger300 { border-color: var(--danger300); }
.border-danger400 { border-color: var(--danger400); }
.border-danger500 { border-color: var(--danger500); }
.border-danger600 { border-color: var(--danger600); }
.border-danger700 { border-color: var(--danger700); }
.border-danger800 { border-color: var(--danger800); }
.border-danger900 { border-color: var(--danger900); }
.border-danger950 { border-color: var(--danger950); }