.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }

.gap-0 { gap: 0px; }
.gap-1 { gap: 4px; }
.gap-2 { gap: 8px; }
.gap-3 { gap: 12px; }
.gap-4 { gap: 16px; }
.gap-5 { gap: 20px; }
.gap-6 { gap: 24px; }
.gap-7 { gap: 28px; }
.gap-8 { gap: 32px; }
.gap-9 { gap: 36px; }
.gap-10 { gap: 40px; }
.gap-0\.5 { gap: 2px; }
.gap-1\.5 { gap: 6px; }
.gap-2\.5 { gap: 10px; }
.gap-3\.5 { gap: 14px; }
.gap-4\.5 { gap: 18px; }
.gap-5\.5 { gap: 22px; }
.gap-6\.5 { gap: 26px; }
.gap-7\.5 { gap: 30px; }
.gap-8\.5 { gap: 34px; }
.gap-9\.5 { gap: 38px; }

.text-sm { font-size: 14px; }
.text-md { font-size: 16px; }
.text-lg { font-size: 18px }
.text-xl { font-size: 20px }
.text-2xl { font-size: 24px }
.text-3xl { font-size: 32px }
.text-4xl { font-size: 36px }
.text-5xl { font-size: 40px }
.text-6xl { font-size: 48px }